@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
}


.scene {
  width:100%;
  height:570px;
  margin-top:0;
  background-image: url('../templates/assets/img/street_scene.jpg');
  background-size: 100%;
  background-position: 0px -100px;
}

.scene_console {
  width:100%;
  height:100px;
}

#players {
  margin-top: 20px;
  margin-left: 20px;
}


.foot {
  width:100%;
  height: 150px;
  margin-bottom: 0px;
  background-color: #000;
}

.foot_game {
  color: #fff;
  width:100%;
  height: 100px;
}

.foot_game ul{
  margin: 0;

}

.foot_game_img {
  display: inline-block;
  
  margin: 0;
}

.foot_game_story {
  display: inline-block;
  width: 200px;
}
