@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;



body {
  background-color: #000;
  font-family: $base-font-family;
}

.container {
  width:950px;
  margin: 0 auto;

}

.pop_up_console_screen {
  background-color: #000;
  position: absolute;
  z-index: 1;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  opacity: .6;
}

.pop_up_console {
  color: #fff;
  position: absolute;
  width:450px;
  height:350px;
  margin-top: 125px;
  background-image: url('../templates/assets/img/console.png');
  transform: translateX(50%);
  right: 50%;
  z-index: 1;
  text-align: center;
  border: 1px solid white;
}

.pop_up_console li {
  margin-top: 180px;
  list-style: none;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 12px;
  letter-spacing: 2px;
}


.scene {
  width:100%;
  height:400px;
  margin-top:0;
  background-image: url('../templates/assets/img/street_scene.jpg');
  background-size: 100%;
  background-position: 0px -100px;
  position: relative;
}

.playerHealthDisplay {
  position: absolute;
  width:200px;
  height:100px;
  top:0;
  left:0;
}

.enemyHealthDisplay {
  position: absolute;
  width:200px;
  height:100px;
  top:0;
  right:0;
}


.playerDisplay {
  display: none;
  position: absolute;
  width:400px;
  height:300px;
  bottom:0;
  left:0;
}


.enemyDisplay {
  display: none;
  position: absolute;
  width:400px;
  height:300px;
  bottom:0;
  right:0;
}


.foot {
  width:100%;
  height: 200px;
  margin-bottom: 0px;
  background-color: #000;
  font-family: helvetica;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: lighter;
}

.foot_game {
  color: #000;
  width:100%;
  height: 100px;
  position: relative;
}

.foot_gamer_console_attack {
  color: #fff;
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

.foot_gamer_console_attack button{
  color: #000;
  margin-right:15px;
}

.foot_gamer_console_taunt {
  color: #fff;
  display: inline-block;
  vertical-align: top;
}

.foot_game_img {
  display: inline-block;
}

.foot_game_img img{
  position: absolute;
  top: 0px;
  right: 0px;
}
