@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;



body {
  background-color: #000;
  font-family: $base-font-family;
}

.container {
  width:950px;
  margin: 0 auto;

}

.pop_up_console {
  color: #fff;
  position: absolute;
  width:450px;
  height:350px;
  margin-top: 125px;
  background-image: url('../templates/assets/img/console.png');
  transform: translateX(50%);
  right: 50%;
  z-index: 1;
  text-align: center;
  border: 1px solid white;
}

.pop_up_console li {
  margin-top: 180px;
  list-style: none;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 12px;
  letter-spacing: 2px;
}


.scene {
  width:100%;
  height:400px;
  margin-top:0;
  background-image: url('../templates/assets/img/street_scene.jpg');
  background-size: 100%;
  background-position: 0px -100px;
  position: relative;
}

.playerHealthDisplay {
  position: absolute;
  border: 1px solid red;
  width:200px;
  height:100px;
  top:0;
  left:0;
}

.enemyHealthDisplay {
  position: absolute;
  border: 1px solid green;
  width:200px;
  height:100px;
  top:0;
  right:0;
}


#playerDisplayJake {
  display: none;
  position: absolute;
  border: 1px solid yellow;
  width:400px;
  height:300px;
  bottom:0;
  left:0;
}

#playerDisplayFaith {
  display: none;
  position: absolute;
  border: 1px solid yellow;
  width:400px;
  height:300px;
  bottom:0;
  left:0;
}

#playerDisplayJoel {
  display: none;
  position: absolute;
  border: 1px solid yellow;
  width:400px;
  height:300px;
  bottom:0;
  left:0;
}


.enemyDisplay {
  position: absolute;
  border: 1px solid purple;
  width:400px;
  height:300px;
  bottom:0;
  right:0;
}


.foot {
  width:100%;
  height: 200px;
  margin-bottom: 0px;
  background-color: #000;
  font-family: helvetica;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: lighter;
}

.foot_game {
  color: #000;
  width:100%;
  height: 100px;
  position: relative;
}

.foot_game_console {
  padding-top: 50px;
  position: absolute;
  width:475px;
  left: 0;
  border: 1px solid red;
}

.foot_game_img img{
  position: absolute;
  width:475px;
  padding-left: 100px;
}
